@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animated-svg {
  display: inline-block;
  animation: slide 20s linear infinite;
  height: 70px;
}
